* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242526;
    border-bottom: 1px solid #393A3B;
}

.header-left {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}

.header-left img {
    height: 38px;
    width: 38px;
    border-radius: 50%;
}

.header-left input {
    height: 38px;
    width: 200px;
    border-radius: 5%;
    border: hidden;
    padding-left: 10px;
    background-color: #3A3B3C;
}

#search {
    padding-left: 10px;

}

.header-mid {
    display: flex;
}

.header-mid abbr {
    margin: 0px 5px;
    padding: 10px 40px;
    color: #FFFF;
    font-size: 22px;
}

.header-mid abbr:hover {
    margin: 0px 5px;
    padding: 10px 40px;
    color: #FFFF;
    font-size: 22px;
    border-radius: 10%;
    height: 70px;
    background-color: #3A3B3C;
}

.header-right-main {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header-right abbr {
    margin: 0px 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #3A3B3C;
    align-items: center;
    color: #FFFF;
}

.header-right abbr:hover {
    margin: 0px 5px;
    padding: 10px;
    border-radius: 50%;
    background-color: #75787a;
    align-items: center;
    color: #FFFF;
}

.header-right-main img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header-right-main img:hover {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    mix-blend-mode: exclusion;
}

.grid-col {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #18191A;
}

.grid-col-left {
    padding-left: 20px;
    overflow: auto;
    overflow-y: hidden;
}

.grid-col-left:hover {
    overflow-y: scroll;
}

.top {
    border-bottom: 1px solid grey;
    margin-top: 10px;
}

.list {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    color: rgb(229 226 222 / 86%);
    border-radius: 5%;
    gap: 10px;
}

.list:hover {
    background-color: #3A3B3C;
}

.list p {
    padding-right: 10px;
    color: #2EB2DD;
    font-size: 20px;
}

.list img {
    height: 30px;
    width: 30px;
    min-width: 30px;
    border-radius: 50%;
    display: block;
}

.list h1 {
    font-size: 15px;
    font-weight: 600;
}

#Short {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    font-size: 20px;
    color: #A4A7AC;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.footer a,
p {
    color: #aab0b5;
    padding-left: 2px;
}

.footer a:hover {
    text-decoration: underline;
}